.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #43809f;
  padding: 30px;
  font-family: 'Montserrat Subrayada', sans-serif;
  z-index: 999;
  transition: .3s linear;
}

.navbar-menu a {
  margin-left: 30px;
  color: #a9dbf5;
  transition: .3s linear;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #f78e36;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 51px;
  height: 51px;
  background-image: url(../images/code.png);
  background-size: contain;
}

.menu_toggler {
  width: 30px;
  border: none;
  outline: none;
  background: none;
  position: relative;
  display: none;
  z-index: 999;
}

.menu_toggler:hover {
  cursor: pointer;
}

.menu_toggler span {
  display: block;
  height: 2px;
  background: white;
  margin: 7px 0;
  position: relative;
  transition: .3s linear;
}

.stycky {
  background: #a9dbf5;
}

.stycky .navbar-menu{
  background: #a9dbf5;
}

.stycky  a{
  color: #43809f;
}