.niveaux {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.niveau {
  width: calc(50% - 20px);
  margin: 15px 0;
}

.nv-infos {
  display: flex;
  justify-content: space-between;
}

.nv-infos i {
  margin-left: 15px;
  font-size: 25px;
  color: #ffc328;
}

.barre-niveau {
  height: 3px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
  border-radius: 3px;
}

.barre-niveau::after {
  content: "";
  position: absolute;
  height: 6px;
  background-color: #ffc328;
  bottom: -1px;
  border-radius: 3px;
}

.html::after {
  width: 70%;
}

.css::after {
  width: 60%;
}

.js::after {
  width: 65%;
}

.react::after {
  width: 50%;
}

.py::after {
  width: 45%;
}

.node-js::after {
  width: 30%;
}