* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: $onyx;
    color: white;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
}

.terminal-cursor {
    animation: cursor 0.8s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}